fastapi==0.115.8
uvicorn==0.34.0
sqlalchemy==2.0.37
scikit-learn==1.6.1
xgboost==2.1.4
shap>=0.46.0
networkx==3.4.2
python-louvain==0.16
pandas==2.2.3
numpy==2.2.2
faker==33.3.1
joblib==1.4.2
scipy==1.15.1
matplotlib==3.10.0
reportlab>=4.1.0
